<section class="main-home">
  <div class="main__home-info">
    <main class="icons">
      <div class="home__social-link">
        <a href="#"><i class="bx bxl-facebook-square"></i></a>
        <a href="https://www.instagram.com/taurodev/" target="_blank"
          ><i class="bx bxl-instagram-alt"></i
        ></a>
        <a href="https://wa.link/taurodev" target="_blank"
          ><i class="bx bxl-whatsapp"></i
        ></a>
        <a href="https://github.com/Camilo1423?tab=repositories" target="_blank"
          ><i class="bx bxl-github"></i
        ></a>
      </div>
    </main>
    <main class="info">
      <div class="content">
        <div class="content-info">
          <h3>Bienvenido a</h3>
          <h1><strong>Tauro Dev</strong></h1>
          <p class="mt-1">
            Somos una empresa dedicada al
            <strong>desarrollo de software</strong>, portfolios
            <strong>web</strong>, tiendas virutales
          </p>
          <p>
            con pasarela de pagos. Somos un equipo comprometido con tu negocio
            🎉
          </p>
        </div>
        <div class="animationContainer__splash">
          <div class="animation__splash">
            <div class="circle_splash"></div>
            <div class="circle_splash"></div>
            <i class="bx bx-chevron-down"></i>
          </div>
          <p>Scroll down</p>
        </div>
      </div>
    </main>
    <main class="main-logo">
      <div class="img-logo">
        <img src="https://res.cloudinary.com/tauro-dev/image/upload/v1661448522/code_xlwppk.gif" alt="logo-tauro-dev" />
      </div>
    </main>
  </div>
</section>

<section class="main-about">
  <div class="main__about-info">
    <div class="title__about">
      <h2 class="main-title__about">ABOUT</h2>
    </div>
    <div class="title__us">
        <h2>US</h2>
        <div class="style-line"></div>
    </div>
    <div class="content__parraf">
      <h2>Lorem ipsum dolor sit</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum id
        aperiam asperiores dolores accusamus minima incidunt explicabo placeat
        cum minus, quis nulla nam fugiat! Omnis consequuntur voluptate
        laboriosam quisquam voluptatum? Distinctio incidunt, repudiandae eum sit
        suscipit voluptatibus atque facilis quae consectetur iusto adipisci,
        deleniti similique! Quia natus molestiae labore beatae nisi reiciendis,
        sint non qui id quaerat libero ipsam harum!0
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum id
        aperiam asperiores dolores accusamus minima incidunt explicabo placeat
        cum minus, quis nulla nam fugiat! Omnis consequuntur voluptate
        laboriosam quisquam voluptatum? Distinctio incidunt, repudiandae eum sit
        suscipit voluptatibus atque facilis quae consectetur iusto adipisci,
        deleniti similique! Quia natus molestiae labore beatae nisi reiciendis,
        sint non qui id quaerat libero ipsam harum!0
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum id
        aperiam asperiores dolores accusamus minima incidunt explicabo placeat
        cum minus, quis nulla nam fugiat! Omnis consequuntur voluptate
        laboriosam quisquam voluptatum?
      </p>
      <button><a href="#/">Leer Más</a></button>
    </div>
    <div class="main__about-people">
      <article class="tarjet-dev">
        <div class="content-people">
          <div class="content-user">
            <section class="img-people">
              <img
                src="https://res.cloudinary.com/tauro-dev/image/upload/v1661385508/people_mmj5k0.jpg"
                alt=""
              />
            </section>
            <section class="main__about-name">
              <h2 class="name">Laura Urrea</h2>
              <h3 class="role">Abogada</h3>
            </section>
          </div>
          <section class="see__more">
            <a href="#/">See More...</a>
          </section>
        </div>
        <div class="info-people">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            officia molestiae corrupti beatae voluptate pariatur nobis
            voluptatem at eum ad!
          </p>
        </div>
        <div class="link-people">
          <a href="#/"><i class="bx bxl-facebook"></i></a>
          <a href="#/"><i class="bx bxl-instagram-alt"></i></a>
          <a href="#/"><i class="bx bxl-linkedin"></i></a>
        </div>
      </article>
      <article class="tarjet-dev">
        <div class="content-people">
          <div class="content-user">
            <section class="img-people">
              <img
                src="https://res.cloudinary.com/tauro-dev/image/upload/v1661389364/WhatsApp_Image_2022-08-24_at_7.28.50_PM_ewwzon.png"
                alt=""
              />
            </section>
            <section class="main__about-name">
              <h2 class="name">Lida Roa</h2>
              <h3 class="role">Contadora</h3>
            </section>
          </div>
          <section class="see__more">
            <a href="#/">See More...</a>
          </section>
        </div>
        <div class="info-people">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            officia molestiae corrupti beatae voluptate pariatur nobis
            voluptatem at eum ad!
          </p>
        </div>
        <div class="link-people">
          <a href="#/"><i class="bx bxl-facebook"></i></a>
          <a href="#/"><i class="bx bxl-instagram-alt"></i></a>
          <a href="#/"><i class="bx bxl-linkedin"></i></a>
        </div>
      </article>
      <article class="tarjet-dev">
        <div class="content-people">
          <div class="content-user">
            <section class="img-people">
              <img
                src="https://res.cloudinary.com/tauro-dev/image/upload/v1661389486/150205522_1353015275077335_5712612171324247788_n_cahgcu.jpg"
                alt=""
              />
            </section>
            <section class="main__about-name">
              <h2 class="name">Laura Cote</h2>
              <h3 class="role">Diseñadora UI/UX</h3>
            </section>
          </div>
          <section class="see__more">
            <a href="#/">See More...</a>
          </section>
        </div>
        <div class="info-people">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            officia molestiae corrupti beatae voluptate pariatur nobis
            voluptatem at eum ad!
          </p>
        </div>
        <div class="link-people">
          <a href="#/"><i class="bx bxl-facebook"></i></a>
          <a href="#/"><i class="bx bxl-instagram-alt"></i></a>
          <a href="#/"><i class="bx bxl-linkedin"></i></a>
          <a href="#/"><i class="bx bxl-github"></i></a>
        </div>
      </article>
      <article class="tarjet-dev">
        <div class="content-people">
          <div class="content-user">
            <section class="img-people">
              <img
                src="https://res.cloudinary.com/tauro-dev/image/upload/v1661389265/271148333_4709748685740491_5250506523369515290_n_nmc4vt.jpg"
                alt=""
              />
            </section>
            <section class="main__about-name">
              <h2 class="name">Cristian Estrada</h2>
              <h3 class="role">Dev Front End Jr</h3>
            </section>
          </div>
          <section class="see__more">
            <a href="#/">See More...</a>
          </section>
        </div>
        <div class="info-people">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            officia molestiae corrupti beatae voluptate pariatur nobis
            voluptatem at eum ad!
          </p>
        </div>
        <div class="link-people">
          <a href="#/"><i class="bx bxl-facebook"></i></a>
          <a href="#/"><i class="bx bxl-instagram-alt"></i></a>
          <a href="#/"><i class="bx bxl-linkedin"></i></a>
          <a href="#/"><i class="bx bxl-github"></i></a>
        </div>
      </article>
      <article class="tarjet-dev">
        <div class="content-people">
          <div class="content-user">
            <section class="img-people">
              <img
                src="https://res.cloudinary.com/tauro-dev/image/upload/v1661389447/242583760_4121750214602910_3488645648571725531_n_ra8uo6.png"
                alt=""
              />
            </section>
            <section class="main__about-name">
              <h2 class="name">Andres Roa</h2>
              <h3 class="role">Dev Front End Jr</h3>
            </section>
          </div>
          <section class="see__more">
            <a href="#/">See More...</a>
          </section>
        </div>
        <div class="info-people">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            officia molestiae corrupti beatae voluptate pariatur nobis
            voluptatem at eum ad!
          </p>
        </div>
        <div class="link-people">
          <a href="#/"><i class="bx bxl-facebook"></i></a>
          <a href="#/"><i class="bx bxl-instagram-alt"></i></a>
          <a href="#/"><i class="bx bxl-linkedin"></i></a>
          <a href="#/"><i class="bx bxl-github"></i></a>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="main-services">
  <div class="services-info">
    <div class="info-title">
      <h2>Services</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A sed atque, dolorem eos dolore placeat velit fuga, reprehenderit sunt aspernatur laudantium cum itaque cumque nobis quasi perspiciatis explicabo eveniet officia.
      Recusandae neque qui assumenda magnam ipsam perferendis voluptatibus distinctio ab enim exercitationem eligendi ad, ullam temporibus deserunt in minus, accusantium modi omnis fugit maiores optio magni animi delectus. Veniam, hic.</p>
    </div>
  </div>
</section>
